@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

/* Custom Responsive & Style */

.responsive-banner {
  @apply h-[51vw];
}

.responsive-movie-slider-arrow {
  @apply max-w-[60px] w-[calc(4.5vw)] sm:w-[calc(4.5vw)] md:w-[calc(4vw)] lg:w-[calc(3.5vw)];
  @apply h-[calc(25.3vw)] sm:h-[calc(22.4vw)] md:h-[calc(13vw)] lg:h-[calc(8.5vw)];
  @apply absolute z-30 cursor-pointer absolute z-30 cursor-pointer bg-black/50 hover:bg-black/80 text-white transition;
}

.responsive-movie-card {
  @apply w-[45vw] sm:w-[40vw] md:w-[23vw] lg:w-[15vw];
  @apply bg-[#222] dark:bg-[#fff];
}

.home-page {
  @apply bg-[#141414] dark:bg-[#eee];
}

.movie-detail-page {
  @apply bg-zinc-900 dark:bg-[#fff];
}

.episode-panel {
  @apply hover:bg-zinc-700 dark:hover:bg-gray-300;
}

.first-episode {
  @apply bg-zinc-800 dark:bg-gray-200
}

/* Theme Style */

.text-white {
  @apply dark:text-black;
}

.text-gray-400 {
  @apply dark:text-gray-600
}

.text-white-fixed {
  @apply text-white;
}

.border-white {
  @apply dark:border-black
}

.border-gray-300 {
  @apply dark:border-gray-900
}

/* Responsive Font */

.text-2xs {
  font-size: clamp(0.1rem, 0.4vw, 0.4rem);
}

.text-xs {
  font-size: clamp(0.1rem, 0.6vw, 0.6rem);
}

.text-sm {
  font-size: clamp(0.15rem, 0.8vw, 0.75rem);
}

.text-base {
  font-size: clamp(0.2rem, 1vw, 1rem);
}

.text-lg {
  font-size: clamp(0.25rem, 1.2vw, 1.125rem);
}

.text-xl {
  font-size: clamp(0.3rem, 1.5vw, 1.25rem);
}

.text-2xl {
  font-size: clamp(0.35rem, 2vw, 1.5rem);
}

.text-3xl {
  font-size: clamp(0.4rem, 3vw, 2rem);
}

.text-4xl {
  font-size: clamp(0.45rem, 4vw, 3rem);
}

/* Responsive Button */

.button-xl {
  @apply w-[calc(10px+10vw)] max-w-[120px] h-[calc(5px+3vw)] max-h-12 p-0 gap-[1vw]
}

.button-2xl {
  @apply w-[calc(10px+15vw)] max-w-[180px] h-[calc(5px+3vw)] max-h-12 p-0 gap-[calc(5px+0.5vw)]
}

/* Responsive Icon */

.icon-base {
  @apply w-[2vw]
}

.icon-xl {
  @apply w-[calc(5px+2.1vw)]
}

.icon-2xl {
  @apply w-[calc(8px+2.7vw)]
}

/* Responsive Gap */

.gap-1 {
  @apply gap-[calc(.4vw)]
}

.gap-2 {
  @apply gap-[calc(.7vw)]
}

.gap-3 {
  @apply gap-[calc(1vw)]
}

.gap-4 {
  @apply gap-[calc(1.3vw)]
}

.gap-5 {
  @apply gap-[calc(1.6vw)]
}

.gap-6 {
  @apply gap-[calc(1.9vw)]
}

/* Fixed Font */

.text-2xs {
  font-size: 0.4rem
}

.text-xs-fixed {
  @apply text-xs
}

.text-sm-fixed {
  @apply text-sm
}

.text-base-fixed {
  @apply text-base
}

.text-lg-fixed {
  @apply text-lg
}

.text-xl-fixed {
  @apply text-xl
}

.text-2xl-fixed {
  @apply text-2xl
}

.text-3xl-fixed {
  @apply text-3xl
}

.text-4xl-fixed {
  @apply text-4xl
}

